@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..900&display=swap');

@import "./globals.css";
@import "./calendar.css"; /* calendar */
@import "./leaflet.css";

html * {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
