@tailwind base;
@tailwind components;
@tailwind utilities;

/* app components */
@import "./globals.css";

html * {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
